.btn {
  border: 1px solid var(--gray);
  border-left: 0;
border-radius: 0px 5px 5px 0px;
  padding: 0.5rem;
  box-sizing: border-box;
}

.btnFocus {
  border: 1px solid var(--blue);
  border-left: 0;
}

.form {
  display: flex;
  overflow: hidden;
}

.form input{
  border-radius: 5px 0px 0px 5px;
}