.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.7rem;
}

.selected {
  width: 30%;
  min-width: 150px;
}

.select span {
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .select {
    justify-content: flex-end;
    width: 100%;
    font-size: 2rem;
  }
}
