.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem 0;
  border-radius: 15px;
  padding: 0 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
  background-color: white;
}

.body {
  display: flex;
  align-items: center;
}

.titleBox {
  display: flex;
  align-items: center;
  user-select: none;
  padding: 1.5rem 0;
  cursor: pointer;
}

.title {
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.description {
  opacity: 0;
  height: 0;
  visibility: hidden;
  margin-left: 1rem;
  transition: var(--transition);
  word-wrap: break-word;
  user-select: none;
}

.description p{
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.description.show {
  opacity: 1;
  height: auto;
  visibility: visible;
  padding-bottom: 1.5rem;
  user-select: none;
}

.check {
  border-radius: 50%;
  font-size: 2.1rem;
  cursor: pointer;
  color: white;
}

.completeBox {
  flex-grow: 1;
  padding: 2.7rem 0;
  cursor: pointer;
}

.btnContainer {
  text-align: end;
  padding: 1.5rem 0;
}

.body h4 {
  cursor: pointer;
  margin-left: 4px;
}

.btn:last-child {
  margin-left: 1rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}

@media screen and (max-width: 576px) {
  .title {
    width: 100px;
  }
}
