.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  background-color: #f3f4f6;
  padding: 1rem;
}

.todo button:not(:last-child) {
  margin-right: 1rem;
}

.completed {
  text-decoration: line-through;
  color: #6c757d;
}
