.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
    border-radius: 15px;
  padding: 1.5rem 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  display: flex;
  align-items: center;
}

.description {
  overflow: hidden;
  opacity: 0;
  height: 0px;
  width: 60vw;
  max-width: 1200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 1rem;
  transition: var(--transition);
}

.description.show {
  display: block;
  opacity: 1;
  height: auto;
  margin-top: 1rem;
}

.check {
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.btnContainer {
  text-align: end;
}

.body h4 {
  cursor: pointer;
  margin-left: 4px;
}

.btn {
  background-color: var(--white);
  margin: 0 0.2rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}
