.header {
  display: flex;
  flex-direction: column;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons > * {
  cursor: pointer;
  font-size: 3rem;
}

.search {
  margin-right: 1rem;
}
