.categoryItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 22px;
  width: 200px;
  height: 115px;
  cursor: pointer;
}

.category:not(:last-child) {
  margin-right: 1rem;
}

.title {
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type="radio"] {
  display: none;
}

@media screen and (min-width: 768px) {
  .categoryItem {
    width: 250px;
    height: 130px;
  }
  .value {
    font-size: 2rem;
  }
}
