.categoryItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  padding: 2rem 1rem;
  border-radius: 10px;
  width: 100%;
  min-width: 170px;
  max-width: 170px;
  height: 100px;
  cursor: pointer;
}

.category:not(:last-child) {
  margin-right: 1rem;
}

.title {
  padding-bottom: 3rem;
  border-radius: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.value {
  color: var(--gray);
}

.categoryForm {
  padding: 1rem;
}

.categoryForm button {
  padding: 0.5rem 0;
}

.categoryForm input {
  font-size: 1.8rem;
}

.discretion {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

input[type="radio"] {
  display: none;
}

@media screen and (min-width: 768px) {
  .categoryItem {
    padding: 1.5rem 1rem;
    width: 100%;
    min-width: 250px;
    max-width: 250px;
    height: 120px;
  }
  .categoryForm {
    padding: 1rem;
  }

  .categoryForm button {
    margin-bottom: 0.5rem;
  }
  .categoryForm input {
    font-size: 2.5rem;
  }
}
