/* radio todo */
.check-blue {
  border: 2px solid var(--blue);
}

.check-pink {
  border: 2px solid var(--pink);
}

.blue-completed {
  background-color: var(--blue);
  opacity: 0.3;
}

.pink-completed {
  background-color: var(--pink);
  opacity: 0.3;
}

/* title category bottom  */

.blue {
  border-bottom: 2px solid var(--blue);
}

.pink {
  border-bottom: 2px solid var(--pink);
}

/* select category */

.selected-blue {
  border: 2px solid var(--blue);
}

.selected-pink {
  border: 2px solid var(--pink);
}

.tooltip {
  font-family: "Quicksand", sans-serif !important;
  font-size: 1.7rem !important;
  padding: 0.5rem 1rem !important;
}

.icons {
  font-size: 2.2rem;
  color: var(--gray);
  cursor: pointer;
}

.iconsBig {
  font-size: 3rem;
  color: var(--gray);
  cursor: pointer;
}
