@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --body-dark: #3d47af;
  --body-color: #f4f6fd;
  --bg-nav: #023e8a;
  --color-nav: #bbc2d8;
  --pink-dark: #a056c5;
  --pink: #d103fc;
  --blue: #2684ff;
  --white: #fff;
  --gray: #9ca3af;
  --gray-primary: #efefef;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 2rem auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--body-color);
}

button,
input {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #d4d4d4;
}

input {
  border: 2px solid var(--gray);
  width: 100%;
  min-width: 150px;
  padding: 0.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  color: var(--gray);
  font-weight: 700;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  body,
  button,
  input {
    font-size: 2.5rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
}