@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

:root {
  --body-dark: #0466c8;
  --body-color: #f4f6fd;
  --color-nav: #e9ecef;
  --pink: #d103fc;
  --blue: #2684ff;
  --white: #fff;
  --gray: #373b5e;
  --gray-primary: #efefef;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 2rem auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--body-color);
}

button,
input {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 10px;
}

button {
  cursor: pointer;
  background-color: var(--gray);
  color: white;
}

input {
  border: 1px solid var(--gray);
  width: 100%;
  min-width: 150px;
  padding: 0.5rem 1rem;
}

input:focus {
  border: 1px solid var(--blue);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  color: var(--gray);
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.2rem;
}

@media screen and (min-width: 768px) {
  body,
  button,
  input {
    font-size: 2.2rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 3rem;
  }
}
